data/raw/*
data/processed/*
data/samples_data/*
!data/samples_data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep


.env
src/models_module/embedded_vector.pkl
src/models_module/__pycache__/extrack_text.cpython-310.pyc
src/visualize_module/webapp/__pycache__/sql_query.cpython-310.pyc
src/visualize_module/webapp/__pycache__/chatbox.cpython-310.pyc
src/models_module/__pycache__/use_recommend.cpython-310.pyc
